.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: calc(60% - 80px);
    height: calc(100% - 80px);
    gap: 20px;
    background: #222;
    color: #fff;
    background: var(--color-primary-violet);
    padding: 40px;

    background: linear-gradient(
      180deg,
      var(--color-primary-violet) 0%,
      var(--color-primary-blue) 100%
    );

    background: -moz-linear-gradient(
      180deg,
      var(--color-primary-violet) 0%,
      var(--color-primary-blue) 100%
    );

    background: -webkit-linear-gradient(
      180deg,
      var(--color-primary-violet) 0%,
      var(--color-primary-blue) 100%
    );

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#9B91F2", endColorstr="#102AAE", GradientType=1 );

    h1 {
      font-size: 2.2rem;
      margin: 0;
    }

    p {
      margin-top: 0;
    }
  }

  .formContainer {
    width: calc(40% - 80px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 40px;

    .googleBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      background: #fff;
      color: #222;
      border-radius: 6px;
      padding: 10px;
      width: 100%;
      cursor: pointer;

      img {
        width: 30px;
      }
    }

    .infoEmail {
      color: #555;
      margin-bottom: 20px;
      font-weight: 400;
    }

    .form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      gap: 15px;

      .input {
        width: 100%;
        color: #222;
        border-radius: 6px;
        background-color: #f9f9f9;
        outline: none;
        box-sizing: border-box;
        padding: 15px;
        border: none;
        font-size: 17px;
      }

      .submitButton {
        width: 100%;
        background-color: var(--color-primary-blue);
        color: #fff;
        border: none;
        border-radius: 6px;
        padding: 15px;
        cursor: pointer;
        font-size: 17px;
        transition: background-color 0.3s;

        &:hover {
          background-color: #0056b3;
        }
      }
    }

    .alreadyAccount {
      color: #555;
      a {
        color: #007bff;
        text-decoration: none;
        font-weight: bold;
        &.disabled {
          color: #555;
          cursor: not-allowed;
        }
      }
    }
  }
}
